<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mystic.dao.PersonDao">
    <select id="listAll" resultType="Person">
        SELECT * FROM person
    </select>

    <select id="findById" resultType="Person">
        SELECT * FROM person WHERE id=#{id}
    </select>

    <insert id="add">
        INSERT INTO person VALUES(NULL, #{username}, #{age}, #{address})
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM person WHERE id=#{id}
    </delete>

    <update id="update" parameterType="Person">
        UPDATE person
        <set>
            <if test="username!=null and username!='' ">
                username=#{username},
            </if>
            <if test="age!=null and age!='' ">
                age=#{age},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>